{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {% endblock %}

<!-- Block JumboTron -->
{% block jumbotron %}
<div class="row">
  <div class="col-sm-8"
  <h1>MVP Landing</h1>
  <p>Welcome! this is an example of where you could showcase your product or service!</p>
  <p>Checkout the project on <a href="https://github.com/colinmacritchie/django">Github</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join Us &raquo;</a>
  </p>
</div>
</div>
{% endblock %}
<!-- Block Content -->
{% block content %}
<div class="row">
  <div class="col-sm-6 col-md-3">
<h1>{{ title }}</h1>
<form method='POST' action=''>{% csrf_token %}
  {{ form|crispy }}

  <input class="btn btn-primary" type='submit' value='Sign Up' />

</form>
{% endblock %}

  </div>
</div>
